# Introduction

This is the attempt to compute NDCG

# Imports

In [1]:
import pandas as pd
from utils.predictions import ndcg_v1

# Load results

In [2]:
df = pd.read_parquet("results/final_model/predictions.parquet")

In [3]:
df.head()

,user_idx,prod_idx,prediction,match_count
0,188,"[528489, 534192, 482519, 546831, 522967, 55116...","[69636, 27475, 24789, 41158, 53029, 12809, 791...",0
1,224,[558378],"[42990, 82265, 42342, 34666, 12440, 55618, 713...",0
2,249,"[477104, 553206]","[24789, 27475, 28385, 79104, 84008, 69636, 128...",0
3,312,[503341],"[87123, 685, 44563, 24789, 34849, 67238, 61343...",0
4,382,[540763],"[19966, 4179, 17960, 50030, 55398, 39824, 3139...",0

In [4]:
df["ndcg"] = df.apply(lambda x: ndcg_v1(x.prod_idx, x.prediction), axis = 1)

In [5]:
df["ndcg"].mean()

np.float64(0.0)